.Datepicker--DateList {
    display: flex;
    margin: 2px 0 2px 0;
}

.Datepicker--DateDayItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /*margin: 0 12px 0 12px;*/
    margin: 0 5px 0 5px;
    width: 45px;
    height: 49px;
    flex-shrink: 0;
}

.Datepicker--Strip {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: max-content;
    max-width: 100%;
    overflow: hidden;
}

.DateDayItem--selected {
    font-weight: bold;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(77, 123, 243);
    color: rgb(77, 123, 243);
}

.DateDayItem--disabled {
    color: rgb(176, 176, 176);
}

.Datepicker--DateList--scrollable {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 2px 0 2px 0;

}

.Datepicker--DateList--scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

.Datepicker {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 12px;
}

.Datepicker--DayLabel {
    font-size: 12px;
    margin: 4px 0 0 0;
}

.Datepicker--button-prev, .Datepicker--button-next{
    border: none;
    text-decoration: none;
    background: rgb(77, 123, 243);
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Datepicker--MonthYearLabel {
    margin-left: 12px;
    align-self: flex-start;
    font-size: 15px;
    color: rgb(77, 123, 243);
    font-weight: bold;
}

.Datepicker--DateLabel {
    font-size: 18px;
}

.Datepicker--Container {
    max-width: 100%;
    display: flex;
    width: 100%;
}