.Datepicker--DateList {
    display: flex;
}

.Datepicker--DateDayItem {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Datepicker--Strip {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    margin-top: 10px;
    width: max-content;
    max-width: 60%;
    overflow: hidden;
}

.DateDayItem--selected {
    font-weight: bold;
}

.DateDayItem--disabled {
    color: rgb(176, 176, 176);
}

.Datepicker--DateList--scrollable {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;

}

.Datepicker{
    display: flex;
    margin-top: 12px;
}

.Datepicker--DayLabel{
    font-size: 15px;
}